@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --primaryColor: #f15025;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #9e9e9e;
  --mainRed: #d50000;
  --mainGreen: #4caf50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainGrey);
  color: var(--mainBlack);
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  color: var(--mainWhite);
  letter-spacing: 4px;
}
.app {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  background-color: var(--mainWhite);
  padding-bottom: 2rem;
  border-radius: 2px;
}
